* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  align-content: center;
}

#game-area {
  margin: 0 auto;
  height: 80vh;
  width: 80vw;
  position: relative;
  overflow: hidden;
  background-image: url("./assets/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#player,
.enemy,
.enemy2 {
  width: 4rem;
  height: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}

#player {
  background-image: url("./assets/polly.png");
  height: 60px;
}

.enemy {
  background-image: url("./assets/shark.png");
  width: 10rem;
  height: 10rem;
}

.enemy2 {
  background-image: url("./assets/shark.png");
  width: 20rem;
  height: 20rem;
}

#lives {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 1rem;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  font-family: monospace;
  font-size: 60px;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(115, 115, 255),
    0 0 0.2em rgb(0, 183, 255);
}

.pow {
  background-image: url("./assets/pow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  position: absolute;
  animation: pow-movement 300ms;
}

@keyframes pow-movement {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(3) rotate(15deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 300ms;
}
